.registration-block{
    width: 500px;
    height: 600px;
    border-radius: 30px;
    background-color: white;
}

.registration-block__header{
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.registration-block__header-text{
    font-size: 29px;
    width: 320px;
}
.close__button{
    color: #BCBCBC;
    svg{
    width: 29px;
    height: 29px;
    }
}
.registration-form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registration-form__point{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 85px;
    padding-top: 15px;
    &:first-child{
        padding-top: 0;
    }
    .registration-form__span{
        font-size: 25px;
    }
    .registration-form__input{
        height: 40px;
        padding: 0px 10px 0px 10px;
        border-radius: 30px;
        border: 2px solid #BCBCBC;
        margin-top: 10px;
        text-align: center;
    }
}

.registration-form__button{
    width: 300px;
    text-align: center;
    padding: 15px 0;
    background-color: $secondcolor;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
@media (max-width: 640px) {
    .registration-block{
        width: 400px;
    }
    .registration-block__header-text{
        font-size: 29px;
        width: 290px;
    }
}
@media (max-width: 480px) {
    .registration-block{
        width: 84.5vw;
    }
    .registration-block__header-text{
        font-size: 23px;
        width: 200px;
    }

    .registration-form__point{
        width: 64vw;
        .registration-form__span{
            font-size: 25px;
        }
        .registration-form__input{
            height: 40px;
            padding-left: 10px;
            border-radius: 30px;
            border: 2px solid #BCBCBC;
            margin-top: 10px;
        }
    }
    
    .registration-form__button{
        width: 64vw;
        font-size: 19px;
    }
}
