$maxWidth: 1400;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $maxWidth:$maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.header-menu,
.header-menu__option,
.header-menu__group-button {
  display: flex;
}
.header-menu{
  position: fixed;
  margin: 10px 0px 0px 0px;
  height: 51px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 75px;
  @include adaptiv-font(13,9);
  font-weight: 400;
  z-index: 100;
}

.header-menu__block{
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
}
.header-menu__without-burger{
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu__logo {
  width: 53px;
  height: 19px;
}
.header-menu__option{
  width: 49.245%;
  height: 18px;
  justify-content: space-between;
}

.header-menu__variant{
  &:hover{
    border-bottom: 2px solid #BCBCBC;;
  }
}

.header-menu__group-button {
  width: 173px;
  height: 31px;
  justify-content: space-between;
  align-items: center;
}
.header-menu__regist{
  cursor: pointer;
  &:hover{
    padding: 8px 9px;
    border-radius: 34px;
    background-color: $secondcolor;
    color: rgb(255, 255, 255);
    margin-right: 5px;
  }
}
.header-menu__login{
  width: 77.9px;
  height: 30.73px;
  cursor: pointer;
  @include adaptiv-font(12,10);
  &:hover{
    width: 82.9px;
    @include adaptiv-font(13,11);
  }
}

.login-arrow{
  margin: 0px 4px 0px 0px;
}
.burgermenu-state{
  display: none;
}

.menu{
  display: none;
}
.header-menu__burget-btn{
  width: 17px;
  height: 12px;
  position: relative;
  cursor: pointer;
  &::before{
      content: '';
      position: absolute;
      top: 0;
      width: 17px;
      background: $secondcolor;
      border-radius: 21px;
      height: 2px;
    }
  span{
      position: absolute;
      top: 4px;
      width: 17px;
      background: $secondcolor;
      border-radius: 21px;
      height: 2px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 17px;
      height: 2px;
      top: 8px;
      background: $secondcolor;
      border-radius: 21px;
    }
  }
@media (max-width: 960px) {
  .header-menu__option{
    width: 59%;
  }
}
@media (max-width: 640px) {
  .header-menu{
    height: 41px;
    justify-content: space-between;
  }
  .header-menu__logo{
    padding: 0 0 0 14px;
  }
  .header-menu__withburger{
    width: 55%;
    flex-direction: row-reverse;
    padding: 0 12px 0 0;
  }
  .header-menu__option{
    width: 17px;
    height: 11px;
  }
  .burgermenu-state{
    display: block;
    position: relative;
    cursor: pointer;
  }
  .header-menu__variant,
  .header-menu__regist{
    display: none;
  }
  .menu{
    width: 100%;
    position: fixed;
    transform: translateX(-1000%);
    transition: all 0.2s;
    top: 0px;
    left: 0;
  }
  .menu.active{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transform: translateX(25%);
  }
  .menu-content{
    width: 65vw;
    height: 576px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    border-radius: 20px;
    margin: 14px 0 0px 0px;
    z-index: 100;
      .menu-content__point{
        color: rgba(34, 37, 59, 1);
        @include adaptiv-font(60,20);
        padding: 11px 0 11px 0;
        &:hover{
          border-bottom: 2px solid #BCBCBC;;
        }
        &:first-child{
          padding: 0 0 11px 0;
        }
        &:last-child{
          padding: 11px 0 0 0;
          }
      }
  }
  .menu-content__close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px 18px 0px 0px;
    color: rgba(188, 188, 188, 1);
      svg{
          @include adaptiv-font(50,19);
      }
  }
  .blur{
    position: absolute;
    width: 140vw;
    height: 1000vh;
    display: flex;
    justify-content: center;
    background-color: #181818c0;
    left: -30%;
    z-index: 3;
  }
  .menu-content__position{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu-content__position,
  .menu-content__point{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  .menu-content__block{
    text-align: center;
  }
  .menu-content__burgerlogin{
    width: 41.7vw;
    height: 49px;
    margin: 0 0 34px 0;
    @include adaptiv-font(50,15);
    &:hover{
      animation: pulselog 2s infinite;
        @keyframes pulselog {
          0% {
            -moz-box-shadow: 0 0 0 0 $thirdcolor;
            box-shadow: 0 0 0 0 $thirdcolor;
          }
          70% {
              -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
              box-shadow: 0 0 0 10px rgba(204,169,44, 0);
          }
          100% {
              -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
              box-shadow: 0 0 0 0 rgba(204,169,44, 0);
          }
        }
  }
  }
}
@media (max-width: 480px) {
  .header-menu{
    width: 93.75vw;
  }
  .menu.active{
    transform: translateX(15%);
  }
  .menu-content{
    width: 79.6vw;
  }
}